/*
------------------------------------------------
				SASS setup
------------------------------------------------
*/

@import "_normalize.scss";

// Colour varialbes
$bg-colour: #151c26;
$mg-color: #252f3b;
$fg-colour: #1c222e;
$font-dark-colour: #454e5d;
$font-light-colour: #eee;
$font-blue-colour: #556b80;
$font-sky-colour: #4ebad6;
$green-colour: #9bc348;
$orange-colour: #f9b258;
$very-orange-colour: #ff4500;
$blue-colour: #2faecf;
$moody-blue: #284f60;


// Font family variables
$pt-sans-font: "PT Sans", sans-serif;
$open-sans-font: "Open Sans", sans-serif;

// Other varialbes
$boostrap-gutter: 15px;




/*
------------------------------------------------
				Bootstrap overrides
------------------------------------------------
*/
.container {
	width: 1500px !important;
}
a, a:hover, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}
h2 {
	margin: 0;
}


/*
------------------------------------------------
				Page Styles
------------------------------------------------
*/
// Global styles
body {
	background-color: $bg-colour;
	color: $font-light-colour;
	font-family: $pt-sans-font;
}




// Navbar
.navbar {
	margin-top: $boostrap-gutter;
}

	.navbar > .container {
		padding: (2*$boostrap-gutter);
	}

		.logotype {
			font-family: $open-sans-font;
			font-weight: 300;
			font-size: 1.5em;
			border: 1px solid $font-light-colour;
			padding: 5px 10px;
			border-radius: 3px;
		}





// Chart holder areas
.holder {
	background-color: $fg-colour;
	margin-bottom: $boostrap-gutter * 2;
	min-height: 100px;
	padding: ($boostrap-gutter * 2) 0;
	text-align: center;
}
	h2 {
		text-transform: lowercase;
		color: $font-blue-colour;
		font-size: 1.6em;
		line-height: 1em;
		font-weight: 700;
		margin-bottom: $boostrap-gutter;
	}
	.value {
		font-size: 3em;
		font-weight: 700;
		line-height: 1.5em;
	}
	.unit {
		font-size: 0.6em;
		font-weight: normal;
	}
	.date {
		font-family: $open-sans-font;
		font-size: 1.5em;
		font-weight: 300;
		line-height: 1em;
	}
	.chart-area {
		margin: 0 auto;
	}

	// Documentation link
	.value a {
		display: inline-block;
		border-bottom: 1px dotted $font-light-colour;
		line-height: 1em;
	}
	.value a:hover {
		border-bottom-style: solid;
	}



/*
------------------------------------------------
				D3 Figure Styles
------------------------------------------------
*/




// NZ Map
#map-chart path {
	fill: $font-dark-colour;
}

#map-chart .marker {
	fill: $green-colour;
	opacity: 0.75;
}


// GLobal chart styles
.axis path {
	display: none;
}

.y.axis {
	font-size: 1.5em;
}

.tick {
	font-weight: bold;
	fill: $font-blue-colour;
	stroke: none;
	stroke-width: 1px;
}
	.tick line {
		fill: none;
		stroke: $mg-color;
	}



// Hover tip styles
.d3-tip {
	background: #fff;
	color: #222;
	border: 1px solid #fff;
	border-radius: 4px;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 20px;
	text-align: center;
}
	.d3-tip:after {
		box-sizing: border-box;
		color: #fff;
		content: "\25BC";
		display: inline;
		font-size: 10px;
		line-height: 1;
		position: absolute;
		width: 100%;
	}
	.d3-tip.n:after {
		margin: -1px 0 0 0;
		top: 100%;
		left: 0;
	}
	.d3-tip strong {
		color: $blue-colour;
		font-family: $open-sans-font;
		font-weight: normal
	}
	.tip-date {
		font-size: 0.75em;
		font-weight: normal;
		color: $font-dark-colour;
		margin-top: 0.5em;
		text-transform: lowercase;
		display: inline-block;
	}


// Temperatie chart
#temperature-chart .line {
	fill: none;
	stroke: $orange-colour;
	stroke-width: 1.5px;
}


// Swell chart
#swell-chart .bar {
	fill: $blue-colour;
	stroke: $blue-colour;
}
#wind-chart .bar {
	fill: $green-colour;
	stroke: $green-colour;
}
#swell-chart .bar.forecast,
#wind-chart  .bar.forecast {
	fill: none;
}

#swell-chart .bar:hover,
#wind-chart .bar:hover {
	fill: $very-orange-colour;
	stroke: $very-orange-colour;
}





